---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
// Sort by 'number' to keep 01, 02, 03 order
articles.sort((a, b) => a.data.number.localeCompare(b.data.number));
---

<section class="mb-16 flex flex-col lg:flex-row">
  {
    articles.map((article) => (
      <article class="flex mb-8 gap-8">
        <Image class="w-[100px]" src={article.data.image} alt={article.data.title} />
        <div>
          <p class="text-[2rem] font-bold text-Soft-orange">
            {article.data.number}{" "}
          </p>
          <a
            class="font-extrabold text-lg cursor-pointer hover:text-Soft-red"
            href={article.data.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            {article.data.title}
          </a>
          <p class="text-Dark-grayish-blue text-[0.9375rem]">
            {" "}
            {article.data.description}{" "}
          </p>
        </div>
      </article>
    ))
  }
</section>
