---
import { Image } from "astro:assets";
import Facebook from "../assets/facebook.svg";
import Linkedin from "../assets/linkedin.svg";
import Twitter from "../assets/twitter.svg";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://facebook.com" },
  { name: "Linkedin", src: Linkedin, link: "https://linkedin.com" },
  { name: "Twitter", src: Twitter, link: "https://twitter.com" },
];

const links = [
  { name: "Nosotros", href: "#about" },
  { name: "Servicios", href: "#services" },
  { name: "Casos", href: "#cases" },
  { name: "Testimonios", href: "#Testimonials" },
  { name: "Blog", href: "#blog" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div class="px-[15px] bg-dark text-gray py-[55px] lg:px-[60px] rounded-lg">
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <div>
            <a
              class="text-3xl font-bold cursor-pointer hover:text-Soft-orange/30"
              href="/"
            >
              <h2>Noticias</h2>
            </a>
          </div>
          <ul class="flex flex-col sm:flex-row gap-5">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div
            class="flex text-center lg:text-start flex-col w-full lg:w-[30%]"
          >
            <h3 class="mb-5 text-center md:text-left text-2xl text-Soft-orange">
              Contactanos
            </h3>
            <div class="flex flex-col justify-between gap-4">
              <span> Correo: examplemail.com </span>
              <span> Celular: +123 456 789 </span>
              <span class="lg:w-3/4">
                Dirección: 1234 Calle Nombre, Ciudad Nombre, Barrio Nombre
              </span>
            </div>
          </div>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <form
              class="bg-[#292A32] px-4 py-8 sm:px-10 sm:py-14 rounded-[14px] gap-5 h-full flex flex-col sm:flex-row items-center justify-center"
            >
              <div class="w-full sm:w-[55%]">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Correo"
                  required
                  class="bg-transparent w-full px-[35px] py-5 border rounded-[14px] focus:outline-none"
                />
              </div>
              <button
                type="submit"
                name="submit"
                class="w-full sm:w-[45%] btn-tertiary cursor-pointer"
                >Suscríbase a las Noticias</button
              >
            </form>
          </div>
        </div>
      </div>

      <div class="h-[1px] bg-gray mb-5"></div>
      <div
        class="flex flex-col lg:flex-row h-auto py-6 gap-4 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span
          >2025 Noticias Moderna - Landing Pages <a
            class="underline"
            target="_blank"
            href="#">Noticias</a
          > por
          <a class="underline" target="_blank" href="#">Manual</a></span
        >
        <span>
          Credito
          <a href="#" target="_blank" class="underline">Sergio</a>

          <span> &</span>
          <a class="underline" href="#" target="_blank">Licence</a>
        </span>
      </div>
    </div>
  </div>
</section>
