---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  article: CollectionEntry<"new">;
  showImage?: boolean;
}

const { article, showImage = true } = Astro.props;
---

<article
  class="border-b border-Grayish-blue py-8 xl:py-2.5 last:border-none my-6"
>
  <a
    href={`/new/${article.slug}`}
    transition:name={article.data.title}
    class="font-extrabold text-xl inline-block mb-4 cursor-pointer hover:text-Soft-orange"
  >
    {article.data.title}{" "}
  </a>
  <p class="text-gray-600 text-[0.9375rem]">
    {" "}
    {article.data.description}{" "}
  </p>
  {
    showImage && (
      <a href={`/new/${article.slug}`}>
        <Image
          class="mt-6 rounded-lg w-full h-96 object-cover xl:w-full xl:h-56"
          src={article.data.image}
          alt={article.data.title}
        />
      </a>
    )
  }
</article>
